In [0]:
# Install findspark
%pip install findspark

Note: you may need to restart the kernel using dbutils.library.restartPython() to use updated packages.
Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1
Note: you may need to restart the kernel using dbutils.library.restartPython() to use updated packages.

In [0]:
# Restart kernel
dbutils.library.restartPython()

In [0]:
import findspark
findspark.init()
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
from pyspark.sql.functions import *

# LOAN DATASET #

In [0]:
#read in load dataset
loan_df = spark.read.option("header", True).csv('file:/Workspace/Users/arnaud.ajamian@gmail.com/loan.csv')

In [0]:
# Print the schema of the loan dataset
loan_df.printSchema()

root
 |-- Customer_ID: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Occupation: string (nullable = true)
 |-- Marital Status: string (nullable = true)
 |-- Family Size: string (nullable = true)
 |-- Income: string (nullable = true)
 |-- Expenditure: string (nullable = true)
 |-- Use Frequency: string (nullable = true)
 |-- Loan Category: string (nullable = true)
 |-- Loan Amount: string (nullable = true)
 |-- Overdue: string (nullable = true)
 |--  Debt Record: string (nullable = true)
 |--  Returned Cheque: string (nullable = true)
 |--  Dishonour of Bill: string (nullable = true)

In [0]:
# Print the first 5 lines of the loan dataset
loan_df.show(5)

+-----------+---+------+------------+--------------+-----------+------+-----------+-------------+-------------+-----------+-------+------------+----------------+------------------+
|Customer_ID|Age|Gender|  Occupation|Marital Status|Family Size|Income|Expenditure|Use Frequency|Loan Category|Loan Amount|Overdue| Debt Record| Returned Cheque| Dishonour of Bill|
+-----------+---+------+------------+--------------+-----------+------+-----------+-------------+-------------+-----------+-------+------------+----------------+------------------+
|    IB14001| 30|  MALE|BANK MANAGER|        SINGLE|          4| 50000|      22199|            6|      HOUSING| 10,00,000 |      5|      42,898|               6|                 9|
|    IB14008| 44|  MALE|   PROFESSOR|       MARRIED|          6| 51000|      19999|            4|     SHOPPING|     50,000|      3|      33,999|               1|                 5|
|    IB14012| 30|FEMALE|     DENTIST|        SINGLE|          3| 58450|      27675|            5|   TRAVELLING|     75,000|      6|      20,876|               3|                 1|
|    IB14018| 29|  MALE|     TEACHER|       MARRIED|          5| 45767|      12787|            3|    GOLD LOAN|  6,00,000 |      7|      11,000|               0|                 4|
|    IB14022| 34|  MALE|      POLICE|        SINGLE|          4| 43521|      11999|            3|   AUTOMOBILE|  2,00,000 |      2|      43,898|               1|                 2|
+-----------+---+------+------------+--------------+-----------+------+-----------+-------------+-------------+-----------+-------+------------+----------------+------------------+
only showing top 5 rows

In [0]:
# Print the number of columns in the loan dataset
f"The loan dataset contains {len(loan_df.columns)} columns."

'The loan dataset contains 15 columns.'

In [0]:
# Print the number of rows in the loan dataset
f"The loan dataset contains {loan_df.count()} rows."

'The loan dataset contains 500 rows.'

In [0]:
# Print the count of distinct records in the loan dataset
f"The loan dataset contains {loan_df.distinct().count()} distinct records."

'The loan dataset contains 500 distinct records.'

In [0]:
# find the number of loans in each category
loans_per_category = loan_df.groupBy("Loan Category")\
                            .agg(count("Customer_ID").alias("Number of Loans"))\
                            .sort(desc("Number of Loans"))

loans_per_category.show()

+------------------+---------------+
|     Loan Category|Number of Loans|
+------------------+---------------+
|         GOLD LOAN|             77|
|           HOUSING|             67|
|        AUTOMOBILE|             60|
|        TRAVELLING|             53|
|       RESTAURANTS|             41|
|          SHOPPING|             35|
|COMPUTER SOFTWARES|             35|
|          BUSINESS|             24|
|        RESTAURANT|             20|
|  EDUCATIONAL LOAN|             20|
|   HOME APPLIANCES|             14|
|       ELECTRONICS|             14|
|           DINNING|             14|
|       AGRICULTURE|             12|
|       BOOK STORES|              7|
|          BUILDING|              7|
+------------------+---------------+

In [0]:
# find the number of people who have taken more than 1 loan
more_than_1_loan = loan_df.groupBy("Customer_ID")\
                          .agg(count("Customer_ID").alias("Number of Loans"))\
                          .filter(col("Number of Loans") >= 2)

more_than_1_loan.show()

+-----------+---------------+
|Customer_ID|Number of Loans|
+-----------+---------------+
|    IB14472|              2|
+-----------+---------------+

In [0]:
# find the number of people with income greater than 60000 rupees
f"Number of people with income greater than 60,000 rupees: {loan_df.filter(col('Income') > 60000).count()} people."

'Number of people with income greater than 60,000 rupees: 198 people.'

In [0]:
# find the number of people with 2 or more returned cheques and income less than 50000
customer_segment_1 = loan_df.filter((col(" Returned Cheque") >= 2) &
                                     (col("Income") < 50000))

f"Number of people with 2 or more returned cheques and income less than 50,000: {customer_segment_1.count()} people."

'Number of people with 2 or more returned cheques and income less than 50,000: 137 people.'

In [0]:
# find the number of people with 2 or more returned cheques and are single
customer_segment_2 = loan_df.filter((col(" Returned Cheque") >= 2) &
                                     (col("Marital Status") == "SINGLE"))

f"Number of people with 2 or more returned cheques and are single: {customer_segment_2.count()} people."

'Number of people with 2 or more returned cheques and are single: 111 people.'

In [0]:
# find the  number of people with expenditure over 50000 a month 
customer_segment_3 = loan_df.filter(col("Expenditure") > 50000)

f"Number of people with expenditure over 50,000 a month: {customer_segment_3.count()} people"

'Number of people with expenditure over 50,000 a month: 6 people'

# CREDIT CARD DATASET #

In [0]:
# Load the credit card dataset
credit_card_df = spark.read.option("header", True).csv('file:/Workspace/Users/arnaud.ajamian@gmail.com/credit card.csv')

In [0]:
# Print the schema of the credit card dataset
credit_card_df.printSchema()

root
 |-- RowNumber: string (nullable = true)
 |-- CustomerId: string (nullable = true)
 |-- Surname: string (nullable = true)
 |-- CreditScore: string (nullable = true)
 |-- Geography: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Tenure: string (nullable = true)
 |-- Balance: string (nullable = true)
 |-- NumOfProducts: string (nullable = true)
 |-- IsActiveMember: string (nullable = true)
 |-- EstimatedSalary: string (nullable = true)
 |-- Exited: string (nullable = true)

In [0]:
# Print the number of columns in the credit card dataset
f"The credit card dataset contains {len(credit_card_df.columns)} columns."

'The credit card dataset contains 13 columns.'

In [0]:
# Print the number of rows in the credit card dataset
f"The credit card dataset contains {credit_card_df.count(): ,.0f} rows."

'The credit card dataset contains  10,000 rows.'

In [0]:
# Print the number of distinct records in the credit card dataset
f"The credit card dataset contains {credit_card_df.distinct().count(): ,.0f} distinct rows."

'The credit card dataset contains  10,000 distinct rows.'

In [0]:
# Print the first 5 rows in the credit card dataset
credit_card_df.show(5)

+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|RowNumber|CustomerId| Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|        1|  15634602|Hargrave|        619|   France|Female| 42|     2|        0|            1|             1|      101348.88|     1|
|        2|  15647311|    Hill|        608|    Spain|Female| 41|     1| 83807.86|            1|             1|      112542.58|     0|
|        3|  15619304|    Onio|        502|   France|Female| 42|     8| 159660.8|            3|             0|      113931.57|     1|
|        4|  15701354|    Boni|        699|   France|Female| 39|     1|        0|            2|             0|       93826.63|     0|
|        5|  15737888|Mitchell|        850|    Spain|Female| 43|     2|125510.82|            1|             1|        79084.1|     0|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
only showing top 5 rows

In [0]:
# Find the number of members who are elgible for credit card
# Assumption: that an 'eligible' member is anyone with a credit score greater than 550

cc_eligible = credit_card_df.filter(col("CreditScore") > 550)
cc_eligible.show(10)

+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|RowNumber|CustomerId| Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|        1|  15634602|Hargrave|        619|   France|Female| 42|     2|        0|            1|             1|      101348.88|     1|
|        2|  15647311|    Hill|        608|    Spain|Female| 41|     1| 83807.86|            1|             1|      112542.58|     0|
|        4|  15701354|    Boni|        699|   France|Female| 39|     1|        0|            2|             0|       93826.63|     0|
|        5|  15737888|Mitchell|        850|    Spain|Female| 43|     2|125510.82|            1|             1|        79084.1|     0|
|        6|  15574012|     Chu|        645|    Spain|  Male| 44|     8|113755.78|            2|             0|      149756.71|     1|
|        7|  15592531|Bartlett|        822|   France|  Male| 50|     7|        0|            2|             1|        10062.8|     0|
|       10|  15592389|      H?|        684|   France|  Male| 27|     2|134603.88|            1|             1|       71725.73|     0|
|       15|  15600882|   Scott|        635|    Spain|Female| 35|     7|        0|            2|             1|       65951.65|     0|
|       16|  15643966| Goforth|        616|  Germany|  Male| 45|     3|143129.41|            2|             1|       64327.26|     0|
|       17|  15737452|   Romeo|        653|  Germany|  Male| 58|     1|132602.88|            1|             0|        5097.67|     1|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
only showing top 10 rows

In [0]:
# Find the number of members who are  elgible and active in the bank
cc_eligible_and_active = credit_card_df.filter((col("CreditScore") > 550)&
                                               (col("IsActiveMember") == 1))
                                               
f"{cc_eligible_and_active.count(): ,.0f} members are eligible and active at the bank."

' 4,350 members are eligible and active at the bank.'

In [0]:
# Find the credit card users in Spain 
spain_users = credit_card_df.filter(col("Geography") == "Spain")
spain_users.show(10)

+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|RowNumber|CustomerId|  Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|        2|  15647311|     Hill|        608|    Spain|Female| 41|     1| 83807.86|            1|             1|      112542.58|     0|
|        5|  15737888| Mitchell|        850|    Spain|Female| 43|     2|125510.82|            1|             1|        79084.1|     0|
|        6|  15574012|      Chu|        645|    Spain|  Male| 44|     8|113755.78|            2|             0|      149756.71|     1|
|       12|  15737173|  Andrews|        497|    Spain|  Male| 24|     3|        0|            2|             0|       76390.01|     0|
|       15|  15600882|    Scott|        635|    Spain|Female| 35|     7|        0|            2|             1|       65951.65|     0|
|       18|  15788218|Henderson|        549|    Spain|Female| 24|     9|        0|            2|             1|       14406.41|     0|
|       19|  15661507|  Muldrow|        587|    Spain|  Male| 45|     6|        0|            1|             0|      158684.81|     0|
|       22|  15597945| Dellucci|        636|    Spain|Female| 32|     8|        0|            2|             0|      138555.46|     0|
|       23|  15699309|Gerasimov|        510|    Spain|Female| 38|     4|        0|            1|             0|      118913.53|     1|
|       31|  15589475|  Azikiwe|        591|    Spain|Female| 39|     3|        0|            3|             0|      140469.38|     1|
+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
only showing top 10 rows

In [0]:
# Find the credit card users with Estiamted Salary greater than 100000 and have exited the card
greater_than_100K_exited = credit_card_df.filter((col("EstimatedSalary") > 100000) &
                                                 (col("Exited") == 1))

greater_than_100K_exited.show(10)

+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|RowNumber|CustomerId|  Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|        1|  15634602| Hargrave|        619|   France|Female| 42|     2|        0|            1|             1|      101348.88|     1|
|        3|  15619304|     Onio|        502|   France|Female| 42|     8| 159660.8|            3|             0|      113931.57|     1|
|        6|  15574012|      Chu|        645|    Spain|  Male| 44|     8|113755.78|            2|             0|      149756.71|     1|
|        8|  15656148|   Obinna|        376|  Germany|Female| 29|     4|115046.74|            4|             0|      119346.88|     1|
|       23|  15699309|Gerasimov|        510|    Spain|Female| 38|     4|        0|            1|             0|      118913.53|     1|
|       31|  15589475|  Azikiwe|        591|    Spain|Female| 39|     3|        0|            3|             0|      140469.38|     1|
|       42|  15738148|   Clarke|        465|   France|Female| 51|     8|122522.32|            1|             0|      181297.65|     1|
|       44|  15755196|   Lavine|        834|   France|Female| 49|     2|131394.56|            1|             0|      194365.76|     1|
|       47|  15602280|   Martin|        829|  Germany|Female| 27|     9|112045.67|            1|             1|      119708.21|     1|
|       48|  15771573|  Okagbue|        637|  Germany|Female| 39|     9| 137843.8|            1|             1|       117622.8|     1|
+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
only showing top 10 rows

In [0]:
# Find the credit card users with Estiamted Salary less than 100000 and have more than 1 products
less_than_100K_min1product = credit_card_df.filter((col("EstimatedSalary") < 100000)&
                                                 (col("NumOfProducts") > 1))

less_than_100K_min1product.show(10)

+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|RowNumber|CustomerId|  Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|        4|  15701354|     Boni|        699|   France|Female| 39|     1|        0|            2|             0|       93826.63|     0|
|        7|  15592531| Bartlett|        822|   France|  Male| 50|     7|        0|            2|             1|        10062.8|     0|
|        9|  15792365|       He|        501|   France|  Male| 44|     4|142051.07|            2|             1|        74940.5|     0|
|       11|  15767821|   Bearce|        528|   France|  Male| 31|     6|102016.72|            2|             0|       80181.12|     0|
|       12|  15737173|  Andrews|        497|    Spain|  Male| 24|     3|        0|            2|             0|       76390.01|     0|
|       13|  15632264|      Kay|        476|   France|Female| 34|    10|        0|            2|             0|       26260.98|     0|
|       15|  15600882|    Scott|        635|    Spain|Female| 35|     7|        0|            2|             1|       65951.65|     0|
|       16|  15643966|  Goforth|        616|  Germany|  Male| 45|     3|143129.41|            2|             1|       64327.26|     0|
|       18|  15788218|Henderson|        549|    Spain|Female| 24|     9|        0|            2|             1|       14406.41|     0|
|       20|  15568982|      Hao|        726|   France|Female| 24|     6|        0|            2|             1|       54724.03|     0|
+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
only showing top 10 rows

# TRANSACTION DATASET #

In [0]:
# Load the transacton dataset
transaction_df = spark.read.option("header", True).csv('file:/Workspace/Users/arnaud.ajamian@gmail.com/txn.csv')

In [0]:
# Print the schema of the transacton dataset
transaction_df.printSchema()

root
 |-- Account No: string (nullable = true)
 |-- TRANSACTION DETAILS: string (nullable = true)
 |-- VALUE DATE: string (nullable = true)
 |--  WITHDRAWAL AMT : string (nullable = true)
 |--  DEPOSIT AMT : string (nullable = true)
 |-- BALANCE AMT: string (nullable = true)

In [0]:
#COUNT OF TRANSACTION ON EVERY ACCOUNT
count_transactions_per_acct = transaction_df.groupBy("Account No")\
                                            .agg(count("Account No").alias("Number of Transactions"))\
                                            .sort(desc("Number of Transactions"))

count_transactions_per_acct.show(10)

+-------------+----------------------+
|   Account No|Number of Transactions|
+-------------+----------------------+
|     1196428'|                 48779|
|409000362497'|                 29840|
|409000438620'|                 13454|
|     1196711'|                 10536|
|409000493210'|                  6014|
|409000438611'|                  4588|
|409000611074'|                  1093|
|409000493201'|                  1044|
|409000425051'|                   802|
|409000405747'|                    51|
+-------------+----------------------+

In [0]:
# Find the Maximum withdrawal amount for each account
max_withdrawal_per_acct = transaction_df.groupBy("Account No")\
                                        .agg(round(max(" WITHDRAWAL AMT "), 2).alias("Max. Withdrawal Amount"))

max_withdrawal_per_acct.show(10)

+-------------+----------------------+
|   Account No|Max. Withdrawal Amount|
+-------------+----------------------+
|409000438611'|                 995.0|
|     1196711'|              99806.98|
|     1196428'|                9999.0|
|409000493210'|               9929.07|
|409000611074'|               99600.0|
|409000425051'|              900000.0|
|409000405747'|                8626.0|
|409000493201'|              99989.44|
|409000438620'|                9990.0|
|409000362497'|             999467.62|
+-------------+----------------------+

In [0]:
#MINIMUM WITHDRAWAL AMOUNT OF AN ACCOUNT
min_withdrawal_per_acct = transaction_df.groupBy("Account No")\
                                        .agg(round(min(" WITHDRAWAL AMT "), 2).alias("Min. Withdrawal Amount"))

min_withdrawal_per_acct.show(10)

+-------------+----------------------+
|   Account No|Min. Withdrawal Amount|
+-------------+----------------------+
|409000438611'|                   0.2|
|     1196711'|                  0.25|
|     1196428'|                  0.25|
|409000493210'|                  0.01|
|409000611074'|               10000.0|
|409000425051'|                  1.25|
|409000405747'|             1000000.0|
|409000493201'|             1000000.0|
|409000438620'|                  0.34|
|409000362497'|                  0.97|
+-------------+----------------------+

In [0]:
#MAXIMUM DEPOSIT AMOUNT OF AN ACCOUNT
max_deposit_per_acct = transaction_df.groupBy("Account No")\
                                     .agg(round(max(" DEPOSIT AMT "), 2).alias("Max. Deposit Amount"))

max_deposit_per_acct.show(10)

+-------------+-------------------+
|   Account No|Max. Deposit Amount|
+-------------+-------------------+
|409000438611'|           99999.48|
|     1196711'|          999467.62|
|     1196428'|          9999999.0|
|409000493210'|              99.02|
|409000611074'|           500000.0|
|409000425051'|             8500.0|
|409000405747'|           80408.93|
|409000493201'|           94982.32|
|409000438620'|             9993.8|
|409000362497'|           99977.78|
+-------------+-------------------+

In [0]:
#MINIMUM DEPOSIT AMOUNT OF AN ACCOUNT
min_deposit_per_acct = transaction_df.groupBy("Account No")\
                                     .agg(round(min(" DEPOSIT AMT "), 2).alias("Min. Deposit Amount"))

min_deposit_per_acct.show(10)

+-------------+-------------------+
|   Account No|Min. Deposit Amount|
+-------------+-------------------+
|409000438611'|               0.03|
|     1196711'|               1.01|
|     1196428'|                1.0|
|409000493210'|               0.01|
|409000611074'|          1000000.0|
|409000425051'|                1.0|
|409000405747'|            10000.0|
|409000493201'|                0.9|
|409000438620'|               0.07|
|409000362497'|               0.03|
+-------------+-------------------+

In [0]:
#sum of balance in every bank account
transaction_df.groupBy("Account No")\
              .agg(last("BALANCE AMT").alias("Latest Balance Amount")).show(10)

+-------------+---------------------+
|   Account No|Latest Balance Amount|
+-------------+---------------------+
|409000438611'|           -547919329|
|     1196711'|          -1586915589|
|     1196428'|          -1687233954|
|409000493210'|           -546314640|
|409000611074'|               462200|
|409000425051'|         -356734788.7|
|409000405747'|         -548267458.7|
|409000493201'|            743583.32|
|409000438620'|         -539963120.6|
|409000362497'|          -1901416961|
+-------------+---------------------+

In [0]:
#Number of transaction on each date
count_transactions_per_day = transaction_df.groupBy("VALUE DATE")\
                                            .agg(count("Account No").alias("Num Transactions"))\
                                            .sort(desc("Num Transactions"))

count_transactions_per_day.show(10)

+----------+----------------+
|VALUE DATE|Num Transactions|
+----------+----------------+
| 27-Jul-17|             567|
| 13-Aug-18|             463|
|  8-Nov-17|             402|
|  7-Oct-17|             382|
| 10-Jul-18|             374|
| 12-Dec-17|             367|
| 12-Sep-18|             365|
|  9-Aug-18|             360|
| 19-Sep-17|             358|
| 16-Mar-17|             353|
+----------+----------------+
only showing top 10 rows

In [0]:
#List of customers with withdrawal amount more than 1 lakh
withdrawal_100K = transaction_df.filter(col(" WITHDRAWAL AMT ") > 100000)
withdrawal_100K.select("Account No").distinct().show(10)

+-------------+
|   Account No|
+-------------+
|409000438611'|
|     1196711'|
|     1196428'|
|409000493210'|
|409000611074'|
|409000425051'|
|409000405747'|
|409000493201'|
|409000438620'|
|409000362497'|
+-------------+